.important {
  color: purple;
}

.unimportant {
  color: green;
}

.highlight {
  font-style: oblique;
  font-weight: bold;
}
.fish-type {
  font-style: italic;
  font-stretch: extra-expanded;
}
.column {
  width: 400px;
  float: right;
  background-color: lightblue;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: lightpink;
}
.box {
  border: 5px solid blue;
  padding: 3px;
  margin: 3px;
  background-color: lightpink;
  text-align: center;
}
